/* css styles */
.sidebar-title {
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar-tools-main {
  flex-basis: 100%;   /* forces it onto its own line */
  justify-content: center;
  margin-top: 2.5rem;
}